@CHARSET "UTF-8";

body {
    color: #626063;
    background-color: #ffffff;
    font-family: "Sawarabi Mincho", "Hiragino Kaku Gothic Pro", Meiryo,
        "MS PGothic", "游ゴシック", Helvetica, Arial, sans-serif;
}

#header {
    font-size: 36px;
    width: 100%;
    height: 80px;
    color: #00008B;
    background-color: #ffffff;
}

#content {
    width: 94%;
    margin-top: 15px;
    padding-left: 3%;
}

h1 {
    margin: 0 0 10px;
    position: relative;
    display: inline;
    padding: 0 65px;
    text-align: center;
}

h1:before, h1:after {
    position: absolute;
    top: calc(50% - 3px);
    width: 50px;
    height: 6px;
    content: '';
    border-top: solid 2px #000;
    border-bottom: solid 2px #000;
}

h1:before {
    left: 0;
}

h1:after {
    right: 0;
}

h2 {
    font-size: 16px;
    margin-bottom: 15px;
    color: #4e454a;
    position: relative;
    padding: 1.5rem 1rem;
}

li {
    margin-top: 10px;
    margin-bottom: 10px;
}

p {
    margin-top: 15px;
    margin-bottom: 15px;
}

a {
    text-decoration: none;
    color: #24738e;
}

table, tr, th, td {
    border: 1px solid #400000;
}

table {
    width: 100%;
    table-layout: fixed;
}

th {
    width: 26%;
    padding: 10px 2%;
    color: #000000;
    background-color: #fecb58;
    text-align: center;
}

td {
    width: 66%;
    padding: 10px 2%;
}

button {
    font-size: 14px;
    padding: 5px 10px;
}

#footer {
    text-align: center;
}

#flush_success {
    width: 100%;
    padding-top: 10px;
    padding-left: 2%;
    padding-bottom: 10px;
    margin-bottom: 10px;
    color: #ff8040;
    background-color: #FFF8DC;
    padding-top:10px;
    margin-top:50px;
}

#flush_error {
    width: 100%;
    padding-top: 28px;
    padding-left: 2%;
    padding-bottom: 28px;
    margin-bottom: 15px;
    color: #721c24;
    background-color: #f8d7da;
}

table#history_list th {
    width: 30%;
    padding: 10px 2%;
}

table#history_list td {
    width: 29%;
    padding: 10px 2%;
}

tr.row1 {
    background-color: #f5f1d8;
}

tr.row0 {
    background-color: #ffffff;
}

select {
    height: 30px;
}

table#history_list th {
    font-weight: bold;
    padding: 10px 2%;
}

table#history_list .trade_code {
    width: 20%;
    padding: 10px 2%;
}

table#history_list .trade_name {
    width: 20%;
}

table#history_list .receiving {
    width: 10%;
}

table#history_list .shiping {
    width: 10%;
}

table#history_list .history_date {
    width: 20%;
}

table#history_list .history_action {
    width: 10%;
}

table#employee_list th {
    font-weight: bold;
    width: 30%;
    padding: 10px 2%;
}

table#employee_list td {
    width: 29%;
    padding: 10px 2%;
}

table#inventory_list th {
    font-weight: bold;
    width: 19%;
    padding: 10px 2%;
}

table#stock_list th {
    font-weight: bold;
    width: 20%;
    padding: 10px 2%;
}

select {
    height: 30px;
}

#header_menu {
    list-style: none;
    overflow: hidden;
    font-size: 24px;
    height: 50px;
    background-color: #60c3ca;
    text-align: center;
}

#header_menu ul {
    display: flex;
    width: 100%;
}

#header_menu li {
    width: 23.5%;
    float: left;
    height: 30px;
    line-height: 50px;
    white-space: nowrap;
}

#header_menu li a {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    paddeing: 20px;
    display: inline-block;
    white-space: nowrap;
    transition: color 0.3s;
}

#header_menu li a:hover {
    color: #fff;
    background: #0080ff;
}

#header_menu li a.active {
    color: #fff;
    background: #0080ff;
}

p.login {
    margin: -2.25em 0 10px;
    font-size: 40%;
    line-height: 1.5;
    text-align: right;
}

.wf-sawarabigothic {
    font-family: "Sawarabi Gothic";
}